<!-- This is a special layout file that is used to factor out common structure duplication in html files-->

<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Test App | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
